<div class="container mt-5 pt-3">
   
   <h2 class="display-5 text-center">Welcome to PeliRails</h2>
   <p class="text-center">Please selecct an option to be reditrect</p>

   <hr>

   <div class="card-group">
      <div class="card">
         <%= link_to(image_tag("Series.jpg", alt: "sere"), class: "series")%>
         <div class="card-img-overlay">
            <%= link_to 'Series', series_path, class: "btn btn-outline-light btn-lg" %>
         </div>
      </div>
      <div class="card">
         <%= link_to(image_tag("movies.jpg", alt: "movi"), class: "movie")%>
         <div class="card-img-overlay">
            <%= link_to 'Movies', movies_path, class: "btn btn-outline-light btn-lg" %>
         </div>
      </div>
      <div class="card">
         <%= link_to(image_tag("documentary.jpg", alt: "docu"), class: "docmentary")%>
         <div class="card-img-overlay">
            <%= link_to 'Documentary', documentary_films_path, class: "btn btn-outline-dark btn-lg" %>
         </div>
      </div>
   </div>
</div>